body{
	background: yellow;
	font-family: Arial;
	font-size: 12pt;
}

header {
	background: purple;
  height: 75px;
  width: 100%
  margin: 0px;
  padding: 0px;
}

table {
  width: 100%;
  font-family: monospace;
}

table, th {
  border: 1px solid black;
}
.titleBlock {
	background: aqua;
	display: inline-block;
	height: 100%;
  width: auto;
  float: left;
}

.navBlock {
  background: green;
  display: inline-block;
  height: 100%;
  float: left;
}

.navOptions {
	background-color: green;
	display: inline-block;
}

.navOptions li {
	display: inline-block;
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
}

.navOptions li:hover {
  background: aqua;
}

.tableColumnOne {
  width: 33%;
}
#FirstLetter {
	font-size: 2.5em;
}